[Desktop Entry]
Comment=Qt GUI for PATTS
Exec=patts-qt
GenericName=patts-qt
Name=patts-qt
Categories=Office;
StartupNotify=false
Terminal=false
Type=Application